<div class="center jumbotron">
    <h1>Rate My Meeting</h1>
    
    <a href="/ratings/new">Rate Today's Meeting</a>
    <br>
    <a href="/ratings?meeting_date=<%= Date.today.to_s %>">View Today's Meeting Ratings</a>

    
</div>

