<div class="center jumbotron">
    <h1>Rate My Meeting</h1>
    <p>This is the main page for Rate My Meeting</p>

    <h3>What rating would you give today's meeting?</h3>
    <p>Your rating: 9</p>

    <p>Thanks for your feedback! </p>

    
</div>