<li id="rating-<%= rating.id %>">
  <span class="user"><%= link_to @user.name %></span>
  <span class="user"><%= render @ratings %></span>

  <span class="timestamp">
    Posted <%= time_ago_in_words(rating.created_at) %> ago.
  </span>
</li>