<li id="rating-<%= rating.id %>">
  <span class="user"><%= link_to rating.user.name, rating.user %></span>
  <span class="content"><%= rating.content %></span>
  <span class="timestamp">
    Posted <%= time_ago_in_words(rating.created_at) %> ago.
  </span>
</li>