
<% provide(:title, 'All Ratings') %>
<h5>No Ratings</h5>
<a href="/ratings?meeting_date=<%= Date.today.to_s %>">View Today's Meeting Ratings</a>

<br>
<button> <a href="/ratings/new">Rate now</a></button>