<div class="center jumbotron">
    <h1>Rate My Meeting</h1>
    <p>This is the main page for Rate My Meeting</p>

    <h3>What rating would you give today's meeting?</h3>
    <p>Your rating:</p>



<%= form_with do %>

    <%= number_field(:ratings, in:1.0..10.0, step: 1.0) %>
    <%= submit_tag("Rate") %>
<% end %>

    
</div>