<footer class="footer">
  <small>
    Rate My Meeting
    </small>
  <nav>
    <ul>
      <li><%= link_to "Home",   '/' %></li>
      <li><%= link_to "Rate", '/ratings/new' %></li>
    </ul>
  </nav>
</footer>