<footer class="footer">
  <small>
    Rate My Meeting
    </small>
  <nav>
    <ul>
      <li><%= link_to "Help",   '#' %></li>
      <li><%= link_to "Contact", '#' %></li>
    </ul>
  </nav>
</footer>